body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #6285a7;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav li {
    float: left;
    margin-right: 20px;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(98, 149, 167, 0.81);
}

.index-intro {
    text-align: center;
    padding: 50px;
}

.signup-form {
    max-width: 600px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.signup-form h2 {
    text-align: center;
    color: #333;
}

.signup-form-form {
    margin-top: 20px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form input,
.signup-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.signup-form p {
    color: red;
    text-align: center;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 15px;
}

input + button {
    background-color: #6285a7;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}